@import url('https://fonts.cdnfonts.com/css/segoe-ui-4');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body {
    width: 100%;
    height: auto;

}

nav {
    width: 100%;
    height: 5rem;
    display: flex;
}

.leftnav {
    width: 50%;
    height: 4rem;
   
}
.logo img{
    width: 8rem;
    height: 1.7rem;
    margin-right: .3rem;
}
.rightnav {
    width: 50%;
    height: 4rem;
   
}
nav .leftnav ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: .5rem;
    padding: .9rem 1rem .0rem 4rem;
}
.leftnav ul li{
    margin-inline: 1rem;
    list-style: none;
}
nav .rightnav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: .9rem 4rem .0rem 4rem;
}
.rightnav ul li{
    margin-inline: 1rem;
    list-style: none;
}
.rightnav ul li i{
    margin-left: .3rem;
    font-size: 1.2rem;
}
nav a{
    text-decoration: none;
    color: #262626;
}
nav a:hover{
    border-bottom: .2rem solid #262626;
}
/* nav section end  */
.notice{
    width: 100%;
    height: 3.4rem;
    background-color: #0067b8;
    color: white;
    text-align: center;
    padding-top: .8rem;
    font-weight: 500;
    cursor: pointer;
}
.advertise{
    width: 99%;
    position: relative;
    height: 35rem;
    margin: 1rem auto;
    background-image: url(surfacepro.webp);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.advertise .text{
    position: absolute;
    top: 40%;
    left: 60%;
}
.text h1{
    font-size: 3rem;
    font-weight: 400;
    padding: 1rem;
}
.text p{
    width: 75%;
    font-size: 1.5rem;
    padding: 1rem;

}
.text button{
    font-size: 1.4rem;
    font-weight: 500;
    padding: .7rem;
    margin: 1rem;
    background-color: #0067b8;
    color: white;

 }
 .text button:hover{
    background-color: #05518b;
    cursor: pointer;
 }
.slider ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider ul li{
    list-style: none;
    margin-inline: 1rem;
    font-size: 4rem;
}
.slider ul li i{
    font-size: 1.3rem;
}
.slider ul li i:hover{
    font-size: 1.4rem;
    cursor: pointer;
}

/* advertiuse  */
.get{
    display: flex;
    justify-content: center;
    align-items: center;
}
.get .product{
    height: 10rem;
    width: auto;
    /* background-color: red; */
   margin-inline: 1.3rem;
   margin-top: 3.8rem;
}
.get .product i{
    display: block;
    text-align: center;
    font-size: 3rem;
}
.get .product a{
    margin: .3rem;
    font-size: 1.2rem;
}

 /* advertise ends  */
 .business{
    font-size: 2.2rem;
    margin-left: 2.8rem;
    font-weight: 500;
    padding: 1.2rem;

 }
 /* productr page begins  */
 .productpage{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 1.2rem;
    justify-content: space-evenly;
    align-items: center;
 }

 .productpage .p1{
    width: 24%;
    height: auto;
    line-height: 1rem;
    margin-inline: 1rem;
    padding-bottom: 1rem;
 }
 .productpage img{
    width: 100%;
    height: auto;
    background-color: rgb(219, 217, 217);
 }
 .p1 h1{
    margin: 1rem 1rem 1.3rem 0rem;
    font-size: 1.5rem;
 }
 .p1 p{
    margin: 1rem 1rem 1.3rem 0rem;
 }
 .p1 h3:hover{
    text-decoration: underline;
    color: #0067b8;
    cursor: pointer;
 }
 /* product page end  */
 .brows{
    width: 95%;
    height: 90vh;
    margin: 5rem auto;
    background-image: url(browsimg.jfif);
    background-size: cover;
    margin-bottom: 3rem;
 }
 .brows #info{
    width: 43%;
    height: auto;
    padding-top: 9rem;
    padding-left: 7rem;
 }
 .brows #info h2{
    font-size: 2.8rem;
    font-weight: 400;
 }
 .brows #info p{
    font-size: 1.4rem;
    font-weight: 400;
 }
 .brows #info button{
    font-size: 1.4rem;
    font-weight: 500;
    margin-top: 1rem;
    padding: .5rem;
    background-color: #0067b8;
    color: white;

 }
 .brows #info button:hover{
    background-color: #05518b;
 }
 /* ends  */
/* social 000 */
.socialmedia{
width: 100%;
height: auto;
margin-top: 8rem;
margin-bottom: 8rem;
}
.socialmedia ul{
    display: flex;
    justify-content: left;
    margin: 1rem 1rem 1.2rem 2rem;
   
}
.socialmedia ul li{
    list-style: none;
    margin-inline: .7rem;
    font-size: 1.7rem;
    font-weight: 500;
}
.socialmedia ul li i{
    font-size: 2.2rem;
}
.socialmedia ul li:hover{
    color: rgb(122, 122, 122);
    cursor: pointer;
}
/* social media end  */
.goup{
    position: sticky;
    top: 15rem;
    font-size: 1.2rem;
    background-color: rgb(219, 217, 217);
    z-index: 4;
    padding: .2rem .5rem .5rem .5rem;
    font-weight: 500;
    float: right;
    margin-right: 2rem;
    margin-bottom: 2rem;
    border: none;

}
.goup i{
    margin-right: 1rem;
}
.goup:hover{
    background-color: white;
    box-shadow: .1rem .1rem .1rem gray;
   
}
.goup a{
    color: #262626;
    text-decoration: none;
}
/* footer starts  */
.footer{
    width: 100%;
    height: 60vh;
    background-color: rgb(219, 217, 217);
    display: flex;
    justify-content: space-evenly;
    padding-top: 5rem;
}
.footer ul {
    list-style: none;
}
.footer ul li{
    color: #3f3f3f;
    margin-bottom: .7rem;
}
.footer ul li:hover{
    text-decoration: underline;
    color: #000000;
}
.footer .one{
    font-weight: 500;
    font-size: 1.4rem;
}
.bottomnavbar{
    width: 100%;
    height: auto;
   
}
.bottomnavbar .left  ul{
    height: auto;
    display: inline-flex;
    justify-content: left;
    align-items: center;
    list-style: none;
}
.left{
    width: 30%;
    float: left;
    background-color: rgb(219, 217, 217);

}
.right{
    width: 70%;
    float: left;
    display: flex;
    justify-content: flex-end;
    background-color: rgb(219, 217, 217);

}
.left ul li{
    margin-inline: .8rem;
    padding: 3rem .5rem 1rem .5rem;
}
.bottomnavbar .right  ul{
    height: auto;
    display: inline-flex;
    align-items: center;
    list-style: none;

}
.right ul li{
    margin-inline: 1rem;
    padding: 3rem .5rem 1rem .5rem;
}
.bottomnavbar ul li:hover{
    text-decoration: underline;
    cursor: pointer;
}